* {
    color: white;
    background-color: black;
    background-image: url("cat.png");
    background-size: cover;
}

#outer {
    div {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-color: lightblue;
        color: black;
        text-align: center;
        border: 3px solid gold;
        margin: 20px;
    }

    #b2 {
        position: relative;
        top: 20px;
    }

    #b3 {
        position: absolute;
        top: 200px;
    }

    #b4 {
        position: fixed;
    }

}



