#sample_div_01 {
    width: 600px;
    font: bold 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: lightgray;
    color: purple;
    padding: 10px;
    border-radius: 10px;
}
#sample_div_01:hover {
    background-color: yellow;
    animation: fadeout 1s;

}

.Heading_Names {
    text-align: center;
    background-color: lightblue;
}